1.Write a python program function  that inputs a number and prints the multiplication
table of that number

In [4]:
num = 9
for i in range(1, 11):
    print(num, '*', i, '=', num*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

2. Write a Python function to find the maximum and minimum of three numbers.

In [5]:
max(56,32,34)

56

In [6]:
min(23,56,21)

21

3.Write a function that takes in a list of floats and returns True if the list contains

duplicates and False if the list does not contain duplicates

In [7]:
def duplicate(lst):
    for i in lst:
        if lst.count(i) > 1:
            return True,"Duplicate Number is:", i
    return False, None
lst =[1, 2, 3, 4, 5, 2, 7, 8, 9]

print(duplicate(lst))

(True, 'Duplicate Number is:', 2)

Write a LAMBDA function that takes in a list of floats and returns True if the list

contains duplicates and False if the list does not contain duplicates

5. Write a Python program function to create a Simple Calculator with operations (+, -,*, /, ^ )

In [6]:
def calculator(num1, operator, num2):
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        return num1 / num2
    elif operator == '^':
        return num1 ** num2
    else:
        return "Invalid operator"

num1 = float(input("Enter first number: "))
operator = input("Enter operator (+, -, *, /, ^): ")
num2 = float(input("Enter second number: "))

print(calculator(num1, operator, num2))

Enter first number: 5
Enter operator (+, -, *, /, ^): *
Enter second number: 8
40.0

6. Generate a random list of 10 integers between 1 and 100, then print the minimum and
maximum values.

7. Use argument (*args) to get the table of 8:

In [1]:
def table_of_eight(*args):
    for num in args:
        print(f"8 x {num} = {8*num}")
        
table_of_eight(1,2,3,4,5,6,7,8,9,10)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80