In [1]:
#if ,else,elif statements

In [ ]:
if some_condition 
      #execute some code
else:
      #do something else

In [1]:
if True:
    print('Its True')

Its True

In [2]:
if 3>2:
    print('It is greater')

It is greater

In [3]:
hungry =True
if hungry:
    print('Feed me')

Feed me

In [2]:
hungry =True
if hungry:
    print('feed me')
else:
    print("im not hungry")

feed me

In [5]:
loc='bank'
if loc=='auto shop':
    print=('cars are cool')
else:
    print('I do not know much')

I do not know much

In [7]:
loc='game'
if loc=='Auto shop':
    print('cars are cool')
elif loc=='bank':
    print('Money is cool$$')
elif loc=='store':
    print('Welcome to the store!')
else:
    print('I do not know much')

I do not know much

In [10]:
name='Nayan'
if name=='Pranay':
    print('come to university daily')
elif name=='Nayan':
    print('do come to class')
elif name=='Uttam':
    print('do not make any videos')
else:
    print ('you are not needed now')

do come to class

In [11]:
#for loops

In [14]:
my_iterable=[1,2,3]
for happy in my_iterable:
    print(happy)

1
2
3

In [16]:
mylist= [1,2,3,4,5,6,7,8,9]
for num in mylist:
    print('Thursday')

Thursday
Thursday
Thursday
Thursday
Thursday
Thursday
Thursday
Thursday
Thursday

In [26]:
mylist= [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    if num % 2== 0:
        print (num)
    else:
        print(f'Odd number {num}')

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [43]:
mylist= [1,2,3,4,5,6,7,8,9,10]
list_sum= 0
for num in mylist:
    list_sum= list_sum +num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [44]:
mystring="Hello World"
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [45]:
for _ in 'medhavi':
    print('happy')

happy
happy
happy
happy
happy
happy
happy

In [48]:
#Tuple

In [51]:
tup =(1,2,3)
for item in tup:
    print(item)

1
2
3

In [55]:
#tuple unpacking
mylist=[(1,2),(3,4),(5,6),(7, 8),(9,10)]
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8
9
10

In [57]:
d={'k1':1,'k2':2,'k3':3}
for key,value in d:
    print(value)

1
2
3

In [ ]:
d={'k1':1,'k2':2,'k3':3}
for item in d,keys