Low Difficulty
Hello, World!

In [2]:
print("Hello World!")

Hello World!

Basic Arithmetic Operations
 Define variables

In [4]:
num1=int(input("Enter first number: "))
num2=int(input("Enter Second number:"))
print("Sum:", num1 + num2)
print("Difference:", num1 - num2)
print("Product:", num1 * num2)
print("Quotient:", num1 / num2)

Enter first number: 5
Enter Second number:6
Sum: 11
Difference: -1
Product: 30
Quotient: 0.8333333333333334

String Concatenation
 Define variables

In [6]:
Str1=input("Enter first word: ")
Str2=input("Enter second word: ")
Result=Str1+Str2
print(Result)

Enter first word: Hello
Enter second word: World!!
HelloWorld!!

List Creation and Manipulation

In [13]:
flowers=["Tulips","Rose","Daisy"]
print("Original list:",flowers)
flowers.append("Jasmine")
print("Updated list:", flowers)
flowers.pop(1)
print("flowers overall:",flowers)

Original list: ['Tulips', 'Rose', 'Daisy']
Updated list: ['Tulips', 'Rose', 'Daisy', 'Jasmine']
flowers overall: ['Tulips', 'Daisy', 'Jasmine']

In [24]:
flower_price={'Tulips':'30','Daisy':'40','Rose':'120'}
flower_price['Daisy']

'40'

In [28]:
F_bouquet={'k1':['Rose','books','Tulips']}
Obsession=F_bouquet['k1']

In [29]:
Obsession

['Rose', 'books', 'Tulips']

Using Conditional Statements (if-else)

In [16]:
age=int(input("Enter Your Age: "))
if age>=18:
    print("You're an adult")
else:
    print("You're a minor")

Enter Your Age: 19
You're an adult

In [22]:
age=int(input("Enter Your Age: "))
if age<=15:
    print("You're a minor")
elif age>= 15:
    print("You're in teen")
elif age>=20:
    print("You're younger")
else:
    print("Don't know")

Enter Your Age: 18
You're in teen

Medium Difficulty
For Loop with Range

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
num=int(input("Enter the number: "))
for i in range(1,13):
    print(num,'+',i,'=',num+i)

Enter the number: 9
9 + 1 = 10
9 + 2 = 11
9 + 3 = 12
9 + 4 = 13
9 + 5 = 14
9 + 6 = 15
9 + 7 = 16
9 + 8 = 17
9 + 9 = 18
9 + 10 = 19
9 + 11 = 20
9 + 12 = 21

In [2]:
mylist= [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    if num % 2== 0:
        print (num)
    else:
        print(f'Odd number {num}')

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [8]:
my_string="Hello World"
for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [9]:
for _ in 'Happyily':
    print('Simplykind')

Simplykind
Simplykind
Simplykind
Simplykind
Simplykind
Simplykind
Simplykind
Simplykind