LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if
both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [31]:
def lesser_of_two_evens(a,b):
    if a % 2== 0and b % 2 ==0:
        #Both are even
        if a<b:
            result = a
        else:
                result = b
    else:
            if a>b:
                result = a
            else:
                result = b
    return result

In [32]:
# Check
lesser_of_two_evens(2,4)

2

In [33]:
# Check
lesser_of_two_evens(2,5)

5

In [34]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        result = min(a,b)
    else:
        result = max(a,b)
        return result

In [53]:
lesser_of_two_evens(2,4)

2

In [46]:
lesser_of_two_evens(2,5)

5

In [50]:
#a more efficient code
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [51]:
lesser_of_two_evens(2,4)

2

In [52]:
lesser_of_two_evens(2,5)

5

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both
words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [57]:
def animal_crackers(text):
    wordlist = text.split()
    first = wordlist[0]
    second = wordlist[1]
    return first[0] == second[0]

In [58]:
# Check
animal_crackers('Levelheaded Llama')

True

In [61]:
#check
animal_crackers('Crazy Kangaroo')

False

In [68]:
def animal_crackers(text):
    wordlist = text.lower().split()
    #print(wordlist)
    #print(wordlist[0][0])
    #print(wordlist[1][0])
    return wordlist[0][0] == wordlist[1][0]

In [69]:
animal_crackers('Levelheaded Llama')

True

In [70]:
animal_crackers('Crazy Kangaroo')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [3]:
def makes_twenty(n1,n2):
    if n1+n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [4]:
#Check
makes_twenty(20,10)

True

In [5]:
makes_twenty(2,3)

False

In [7]:
def makes_twenty(n1,n2):
    return n1+n2 == 20 or n1==20 or n2==0

In [8]:
makes_twenty(20,10)

True

In [9]:
makes_twenty(2,3)

False

LEVEL 1 PROBLEMS
OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a
name
old_macdonald('macdonald') --> MacDonald
Note: 'macdonald'.capitalize() returns 'Macdonald'

In [23]:
#using upper
def old_macdonald(name):
    first = name[0]
  #print(first)
    in_between = name[1:3]
    #print(in_between)
    fourth = name[3]
    #print(fourth)
    rest = name[4:]
    #print(fourth)
    return first.upper()+in_between+fourth.upper()+rest

In [25]:
old_macdonald('macdonald')

'MacDonald'

In [29]:
#using captalize
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    return first_half.capitalize() + second_half.capitalize()

In [30]:
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list
with some connector string. For example, some uses of the .join() method:
>>> "--".join(['a','b','c'])
>>> 'a--b--c'
This means if you had a list of words you wanted to turn back into a sentence, you could just join them with
a single space string:
>>> " ".join(['Hello','world'])
>>> "Hello world"

In [31]:
#returning reversed list
def master_yoda(text):
    wordlist = text.split()
    rev = wordlist[::-1]
    return rev

In [32]:
master_yoda('I am home')

['home', 'am', 'I']

In [33]:
master_yoda('we are ready')

['ready', 'are', 'we']

In [34]:
#understanding join method
mylist = ['a','b','c']
'---'.join(mylist)

'a---b---c'

In [35]:
mylist = ['a','b','c']
' '.join(mylist)

'a b c'

In [36]:
mylist = ['a','b','c']
''.join(mylist)

'abc'

In [37]:
mylist = ['a','b','c']
'ooo'.join(mylist)

'aoooboooc'

In [38]:
#returning actual string intead of the list
def master_yoda(text):
    wordlist = text.split()
    rev = wordlist[::-1]
    return ' '.join(rev)

In [40]:
# Check
master_yoda('I am home')

'home am I'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True
NOTE: abs(num) returns the absolute value of a number
abs returns the absolute value of a number
in this case : def almost_there(n): if ((100-n)<=10 or (200-n)<=10): print('True') else: print('False')
the function will evaluate the conditions:
(100 - 150) <= 10 which simplifies to -50 <= 10. This condition is true because -50 is indeed less than 10.
(200 - 150) <= 10 which simplifies to 50 <= 10. This condition is false because 50 is not less than 10.
Because you used an or operator, if either of the conditions is true, the whole condition becomes true. In
this case, the first condition is true, so the function prints "True".
But this is not correct according to the problem statement. The number 150 is not within 10 of 100 or 200.
So, you need to take the absolute difference to ensure you are checking whether n is within 10 units above
or below 100 or 200, and that's where abs() comes in

In [41]:
def almost_there(n):
    return (100-n)<=10 or (200 - n)<=10

In [42]:
almost_there(90)

True

In [43]:
almost_there(104)

True

In [44]:
almost_there(209)

True

In [45]:
#we need yo get abs to write the code correctly to determine if it is within 10 units ab
def almost_there(n):
    return abs(100-n)<=10 or abs(200 - n)<=10

In [46]:
almost_there(90)

True

In [47]:
almost_there(209)

True

LEVEL 2 PROBLEMS
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [48]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]== 3and nums [i+1] ==3:
            return True
    return False

In [49]:
has_33([1,3,3])

True

In [50]:
has_33([1,3,1])

False

In [51]:
#A less readable but slicker code
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]: #this is grabbing slices and comparing them to sublist
            return True
        return False

In [53]:
has_33([1,3,1])

False

In [55]:
has_33([1,3,3])

False